In [111]:
#Reading the CSV file
import pandas as pd
import numpy as np
df=pd.read_csv('311_Service_Requests_2020.csv')
df
#Fetching the specific pincode data
df2=df[df["Incident Zip"] ==10027]
df3=pd.DataFrame(df2, columns=["Complaint Type","Incident Zip"])
df3
#Grouping the data by complaint type
df4= df3.groupby(['Complaint Type']).size()
df4=pd.DataFrame(df4)
df4

/Users/avantiunde/opt/anaconda3/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

                          0
Complaint Type
APPLIANCE                54
Abandoned Vehicle        34
Air Quality              31
Animal in a Park         18
Animal-Abuse             35
...                      ..
Violation of Park Rules  14
WATER LEAK               74
Water Conservation        6
Water Quality             2
Water System             71

[113 rows x 1 columns]

In [112]:
df3

                        Complaint Type  Incident Zip
305                 Noise - Commercial       10027.0
542                Noise - Residential       10027.0
553            Noise - Street/Sidewalk       10027.0
614                Noise - Residential       10027.0
693                 Noise - Commercial       10027.0
...                                ...           ...
1047326    Non-Emergency Police Matter       10027.0
1047356    Non-Emergency Police Matter       10027.0
1047807  General Construction/Plumbing       10027.0
1048137             Consumer Complaint       10027.0
1048460            Noise - Residential       10027.0

[8986 rows x 2 columns]

In [113]:
#Reindexing
df4=df4.reset_index()
df4

              Complaint Type   0
0                  APPLIANCE  54
1          Abandoned Vehicle  34
2                Air Quality  31
3           Animal in a Park  18
4               Animal-Abuse  35
..                       ...  ..
108  Violation of Park Rules  14
109               WATER LEAK  74
110       Water Conservation   6
111            Water Quality   2
112             Water System  71

[113 rows x 2 columns]